.venv/
env/
venv/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
srv/
.eggs-info/
.installed.cfg
*.egg-info/
.MACOSX
.python-version
.pytest_cache/
.coverage
coverage.xml
htmlcov/
.tox/
.cache/
.env
.env.*
*.sqlite3
.DS_Store
.git
.gitignore

# Dockerfile artifacts
docker-compose.override.yml

